pkgbase = linux-xanmod-bore
	pkgdesc = Linux Xanmod (Stable) with BORE CPU scheduler and tickrate customizations
	pkgver = 6.8.1
	pkgrel = 1
	url = http://www.xanmod.org/
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.8.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.8.tar.sign
	source = patch-6.8.1-xanmod1.xz::https://sourceforge.net/projects/xanmod/files/releases/edge/6.8.1-xanmod1/patch-6.8.1-xanmod1.xz
	source = choose-gcc-optimization.sh
	source = https://raw.githubusercontent.com/micros24/linux-xanmod-bore/6.8/0001-bore.patch
	source = https://raw.githubusercontent.com/micros24/linux-xanmod-bore/6.8/0002-glitched-cfs.patch
	source = https://raw.githubusercontent.com/micros24/linux-xanmod-bore/6.8/0003-glitched-eevdf-additions.patch
	source = https://raw.githubusercontent.com/micros24/linux-xanmod-bore/6.8/0004-o3-optimization.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = c969dea4e8bb6be991bbf7c010ba0e0a5643a3a8d8fb0a2aaa053406f1e965f3
	sha256sums = SKIP
	sha256sums = 46c70c7eb9934b529ca0bb65d75313028ec4c7c3d3659e1dd79828331fbbb209
	sha256sums = 5c84bfe7c1971354cff3f6b3f52bf33e7bbeec22f85d5e7bfde383b54c679d30
	sha256sums = 2891c5edb567034393e21ec0e02be4993abec5d09819b125faf771dbb0c52237
	sha256sums = 02be008f054a44322a74f0615e8a0d3ad7d6c5bc80182472a9cefbded959ce61
	sha256sums = 3ef4699107a2552b36350df44927a42a46df42781aaccbe23dd90491273e296d
	sha256sums = 9fac712b3915a1bd95ef643a62934d109a4325121d66cdba061ee9e61e05a60f

pkgname = linux-xanmod-bore
	pkgdesc = Linux Xanmod (Stable) with BORE CPU scheduler and tickrate customizations
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = NTFS3-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-xanmod-bore-headers
	pkgdesc = Headers and scripts for building modules for the Linux Xanmod (Stable) with BORE CPU scheduler and tickrate customizations kernel
	depends = pahole
